<chat-card ng-show="showThis.chatView" class="card_position" typing="isTyping"></chat-card>
  <!--card-->
  <md-card ng-show="showThis.registerView" class="card_position">
   <md-toolbar class="md-hue-2 bg_color" ng-class="{'minimise' : hidediv}">
      <div class="md-toolbar-tools" layout layout-align="space-between center">
         <span >Chat With Us</span> 
         <div layout layout-align="end center">
            <!-- <i class="material-icons" ng-show="showicon" ng-click="hidediv=false; showicon=false; rem=!rem" >keyboard_arrow_up</i> -->
            <!-- <i class="material-icons remove_icon" ng-hide="rem" ng-click="hidediv=true; showicon=true; rem=true" >remove</i> -->
            <!-- <i class="material-icons" ng-click="show('registerView', false)">close</i> -->
         </div>
      </div>
   </md-toolbar>
   <div ng-hide="hidediv">
      <div layout="column" layout-align="center center" layout-margin>
         <span><b>Welcome!</b></span>
         <span>We can't wait to chat with you.</span>
      </div>
      <md-divider></md-divider>
      <form name="myForm" novalidate>
         <div layout="column" layout-margin>
            <div>What is your name?*</div>
            <input type="text" name="myName" ng-model="data.myName" placeholder="Enter text here" class="input_box_style" required layout="column">
            <span class="validation" ng-show="myForm.myName.$touched && myForm.myName.$invalid">
            <span class="validation"" ng-show="myForm.myName.$error.required">Name is required.</span>
            </span>
            </input>
            <div>Email Address*</div>
            <input type="email" name="email" ng-model="data.email" placeholder="Enter text here" class="chat_box_style" required layout="column">
            <span class="validation" ng-show="myForm.email.$touched && myForm.email.$invalid">
            <span class="validation" ng-show="myForm.email.$error.required">Email is required.</span>
            <span class="validation" ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
            </input>
            <div>Company name?</div>
            <input type="text" name="company" ng-model="data.company" placeholder="Enter text here" class="chat_box_style"></input>
         </div>
         <div>
            <section layout="row" layout-sm="row" layout-align="end center" layout-wrap>
            <!-- <md-button ng-click="show('registerView', false)">Cancel</md-button> -->
            <md-button class="md-raised md-warn bg_color" ng-disabled="myForm.myName.$untouched && myForm.myName.$error.required || myForm.myName.$invalid ||
               myForm.email.$untouched && myForm.email.$error.required || myForm.email.$invalid" ng-click="save()">Submit</md-button>
         </div>
      </form>
   </div>
  </md-card>
